:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --projects-list-gap: 30px;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto';
}
